<!-- Include Head -->
<%- include('./partials/head') %>
<!-- Header -->	
<%- include('./partials/header') %>
<!-- /Header -->
<!-- product detail -->
<div class="container products-wrapper">
    <div class="d-flex align-items-center">
        <h2 class="products-title"><%= producto.nombre %></h2> 
        <p class="product-detail-description">
                <!-- </% if (producto.usuarios_id == user.id) {%> -->
                <a href="/productos/product-edit/<%= producto.id %>">Editar</a>
               <!-- </%} else { %> -->
                <!-- <p> "No puede editar este producto, no fue creado por usted."</p>      -->
              <!-- </% } %> -->
        </p>
        <p class="product-detail-description"> 
        <!-- <//% if (producto.usuarios_id == user.id){ //preguntar si user.id esta bien -->
            <a href="/productos/product-delete/<%= producto.id %>">Borrar</a> 
        <!-- else{
                <p> "No puede editar este procuto, no fue creado por usted."</p>              
                }%>  --></p>

         
    </div>
    <div class="product-detail">
        <div class="row">
            <article class="col-12 col-lg-8 product-detail-info">
                <img src="<%= producto.image %>" alt="" class="product-detail-img">
                <p class="product-detail-description">
                    <%= producto.descripcion %>
                </p>
            </article>
            <div class="col-12 col-lg-4">
                <section class="comments">
                    <% for(let i = 0; i<comentarios.length ; i++){ %>
                    <article>
                        <img src="<%= comentarios[i].comentarios_usuarios.foto_de_perfil %>" alt="">
                        <div class="data"> 
                            <p class="user"><strong><a href="/users/profile"> <%= comentarios[i].comentarios_usuarios.nombre%>  </a></strong>
                                <%= comentarios[i].comentarios %></p>
            
                        </div>
                    </article>
                    <% } %>

                </section>
                <% if (isLogged) {%>
                <form class="form" action="/productos/comment-add" method="POST"> <!-- a donde se reirige -->
                    <input class="form-input" type="text" value="" name="comentario" placeholder="Agregar comentario">
                    <button type="submit" class="buy-now-button" >AGREGAR COMENTARIO</button>
                </form>
                <%} else { %>
                <form class="form" action="/users/login" method="get"> <!-- a donde se reirige -->
                    <input class="form-input" type="text" value="" placeholder="Agregar comentario">
                    <button type="submit" class="buy-now-button" >AGREGAR COMENTARIO</button>
                </form>   
                <% } %>
            </div>
        </div>
    </div>
</div>
<!-- /product detail -->
<%- include('./partials/footer') %>