<%- include('./partials/head') %>
<%- include('./partials/headerLogueado') %>
<!-- /Header -->

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Editar mi perfil</h2>
        </div>
        <form class="formulario" action ="/users/profileEdit" method ="POST"> 
            <div> 
                <input class="inputR" type="email" id="email" name="email" value="<%= user.email%>"> 
            </input> 
            </div>
            <div> 
                <input class="inputR"  type="text" id="username" name="nombre" value="<%= user.nombre%>"> 
            </input> 
            </div>
            <div> 
            <input class="inputR" type="text" id="profilePicture" name="foto_de_perfil" placeholder="Introduce la url de tu nueva foto de perfil"> 
            </input>
            </div>
            <button class="boton" type="submit">
                Editar
            </button>
        </form>
    </div>
</div>
<%- include('./partials/footer') %>