<%- include('./partials/head') %>
<!-- Header -->
<%- include('./partials/headerLogueado') %>
<!-- /Header -->

<!-- Datos del usuario -->
<section class="info-usuario container products-wrapper">
    <div class="row">
        <div class="img-container offset-3 col-2">
            <img src="<%= user.foto_de_perfil %>" alt="foto de perfil" class="foto-perfil">
        </div>
        <div class="data-container col-6">
            <div class="d-flex align-items-center ">
                <h1 class="main-title"> <%= user.nombre %>
                 
                    <a href="/users/profileEdit">
                        <i class="fas fa-cog"></i>
                    </a>
                </h1>
                <a class="btn mt-3 ml-4" href="">SEGUIR</a>
            </div>
            <div>
                <ul class="">
                    <li>8 productos</li>
                    <li>200 seguidores</li>
                    <li>300 comentarios</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /Datos del usuario -->

<!-- Mis productos -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Mis productos</h2>
        </div>
        <!-- Show mis productos -->
        <% for(let i = 2; i<user.productos_usuarios.length ; i++){ %> 
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="/productos/detalle/4">
                        <figure class="product-box_image">
                            <img src="<%=user[i].productos_usuarios.image%>" alt="imagen <%=user[i].productos_usuarios.name%>">
                        </figure>
                        <article class="product-box_data">
                            <h2><%= user[i].productos_usuarios.name %></h2>
                            <p><%= user[i].productos_usuarios.descripcion%></p>
                            <p>Comentarios: <%= user.usuarios_comentarios.length %></p>
                        </article>
                    </a>
                </section>
            </div>
        <% } %>
    </div>
</div>
<!-- /Mis productos -->
<%- include('./partials/footer') %>

