<!-- Include Head -->
<%- include('./partials/head') %>
<!-- /Header -->
<%- include('./partials/header') %>
<!-- Novedades -->
<% if(encontroResultados){%>
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Resultados de Busqueda</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <% for(let i = 0; i<resultados.length ; i++){ %> 
        <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
                <a href="/productos/detalle/<%-resultados[i].id%>"> 
                    <figure class="product-box_image">
                        <img src="<%=resultados[i].image%>" alt="imagen <%=resultados[i].nombre%>">
                    </figure>
                    <article class="product-box_data">
                        <h2><%= resultados[i].nombre %></h2>
                        <p><%= resultados[i].descripcion %></p>
                        <p>Usuario:<a href="/users/profile"><%= resultados[i].productos_usuarios.nombre %></a></p>
                    </article>
                </a>
            </section>
        </div>
        <% } %>
    </div>
</div> 
<% } else {%>
    <h1>No se encontraron resultados de tu busqueda</h1>
<%}%>
<!-- /product detail -->
<%- include('./partials/footer') %>